In [20]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [21]:
# value counts for status columns to be dropped
application_df["STATUS"].value_counts()

STATUS
1    34294
0        5
Name: count, dtype: int64

In [22]:
# value counts for special considerations column to be dropped
application_df["SPECIAL_CONSIDERATIONS"].value_counts()

SPECIAL_CONSIDERATIONS
N    34272
Y       27
Name: count, dtype: int64

**STATUS and SPECIAL CONSIDERATIONS can be dropped since there are small percentages of projects that are in the minority categories**

In [23]:
# Drop the non-beneficials EIN column
application_df = application_df.drop(["EIN"], axis = 1)
application_df = application_df.drop(["STATUS"], axis = 1)
application_df = application_df.drop(["SPECIAL_CONSIDERATIONS"], axis = 1)
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1

In [24]:
# number of unique values
application_df.nunique()

NAME                19568
APPLICATION_TYPE       17
AFFILIATION             6
CLASSIFICATION         71
USE_CASE                5
ORGANIZATION            4
INCOME_AMT              9
ASK_AMT              8747
IS_SUCCESSFUL           2
dtype: int64

In [25]:
# look at NAME value counts for binning
name_counts = application_df["NAME"].value_counts()
# How many name counts are greater than 5?
name_counts[name_counts > 5]

NAME
PARENT BOOSTER USA INC                                        1260
TOPS CLUB INC                                                  765
UNITED STATES BOWLING CONGRESS INC                             700
WASHINGTON STATE UNIVERSITY                                    492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                408
                                                              ...
QUAIL FEDERATION INC                                             6
DEPARTMENT OF OREGON LADIES AUXILLARY TO THE VFW OF THE US       6
EAST VIEW SPORTS COALITION                                       6
FULBRIGHT ASSOCIATION INC                                        6
INTERNATIONAL CONGRESS OF CHURCHES MINISTERS                     6
Name: count, Length: 354, dtype: int64

In [26]:
# determin which values to replace if counts are less thatn or equal to 5
names_to_replace = list(name_counts[name_counts <= 5].index)

# Replace in dataframe
for app in names_to_replace:
  application_df['NAME'] = application_df['NAME'].replace(app,"Other")

# checking the binning
application_df['NAME'].value_counts()

NAME
Other                                                 20043
PARENT BOOSTER USA INC                                 1260
TOPS CLUB INC                                           765
UNITED STATES BOWLING CONGRESS INC                      700
WASHINGTON STATE UNIVERSITY                             492
                                                      ...
SOCIETY FOR CREATIVE ANACHRONISM                          6
CBMC INC                                                  6
FAMILY CAREER AND COMMUNITY LEADERS OF AMERICA INC        6
NATIONAL CHARITY LEAGUE INC                               6
HUMBLE ISD EDUCATIONAL SUPPORT GROUPS INC                 6
Name: count, Length: 355, dtype: int64

In [27]:
application_counts = application_df["APPLICATION_TYPE"].value_counts()
application_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [29]:
# determin which values to replace if counts are less thatn or equal to 5
application_types_to_replace = list(application_counts[application_counts <= 500].index)

# Replace in dataframe
for app in application_types_to_replace:
  application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# checking the binning
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [30]:
class_count = application_df["CLASSIFICATION"].value_counts()
class_count

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1248        1
C6100        1
C1820        1
C1900        1
C2150        1
Name: count, Length: 71, dtype: int64

In [31]:
classifications_to_replace = list(class_count[class_count < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [33]:
# Get categorical list
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_cat

['NAME',
 'APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT']

In [34]:
# Convert categorical data to numeric with `pd.get_dummies`
application_with_dummies_df = pd.get_dummies(application_df)
application_with_dummies_df.head()

,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALBANY STATE UNIVERSITY NATIONAL ALUMNI ASSOCIATION,NAME_ALPHA PHI OMEGA,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
1,108590,1,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
2,5000,0,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
3,6692,1,False,False,False,False,False,False,False,False,...,True,False,False,True,False,False,False,False,False,False
4,142590,1,False,False,False,False,False,False,False,False,...,True,False,False,False,True,False,False,False,False,False

In [35]:
# Split our preprocessed data into our features and target arrays
X = application_with_dummies_df.drop(["IS_SUCCESSFUL"], axis="columns").values
y = application_with_dummies_df["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [36]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [37]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 100
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu')
)

# Second hidden layer
nn.add(
    tf.keras.layers.Dense(units=1, input_dim=hidden_nodes_layer2, activation='relu')
)

# Third hidden layer
nn.add(
    tf.keras.layers.Dense(units=1, input_dim=hidden_nodes_layer3, activation='sigmoid')
)
# Output layer
nn.add(
    tf.keras.layers.Dense(units=1, activation='sigmoid')
)

# Check the structure of the model
nn.summary()

/usr/local/lib/python3.11/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

 Layer (type)                          Output Shape                         Param #

 dense (Dense)                         (None, 100)                           39,600

 dense_1 (Dense)                       (None, 1)                                101

 dense_2 (Dense)                       (None, 1)                                  2

 dense_3 (Dense)                       (None, 1)                                  2

 Total params: 39,705 (155.10 KB)

 Trainable params: 39,705 (155.10 KB)

 Non-trainable params: 0 (0.00 B)

In [38]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics = ["accuracy"])

In [39]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804  5s 3ms/step - accuracy: 0.5358 - loss: 0.6681
Epoch 2/100
804/804  2s 2ms/step - accuracy: 0.7688 - loss: 0.6142
Epoch 3/100
804/804  2s 3ms/step - accuracy: 0.7736 - loss: 0.5743
Epoch 4/100
804/804  3s 3ms/step - accuracy: 0.7698 - loss: 0.5538
Epoch 5/100
804/804  4s 3ms/step - accuracy: 0.7766 - loss: 0.5340
Epoch 6/100
804/804  3s 3ms/step - accuracy: 0.7767 - loss: 0.5239
Epoch 7/100
804/804  3s 3ms/step - accuracy: 0.7784 - loss: 0.5133
Epoch 8/100
804/804  3s 4ms/step - accuracy: 0.7804 - loss: 0.5053
Epoch 9/100
804/804  2s 3ms/step - accuracy: 0.7808 - loss: 0.5001
Epoch 10/100
804/804  3s 3ms/step - accuracy: 0.7803 - loss: 0.5011
Epoch 11/100
804/804  2s 3ms/step - accuracy: 0.7780 - loss: 0.4987
Epoch 12/100
804/804  2s 3ms/step - accuracy: 0.7777 - loss: 0.5019
Epoch 13/100
804/804  4s 4ms/step - accuracy: 0.7768 - loss: 0.4978
Epoch 14/100
804/804  2s 3ms/step - accuracy: 0.7778 - loss: 0.4960
Epoch 15/100
804/804  3s 3ms/step - accuracy: 0.7861 - loss: 0.4849
Epoch 16/100
804/804  3s 3ms/step - accuracy: 0.7812 - loss: 0.4904
Epoch 17/100
804/804  2s 3ms/step - accuracy: 0.7841 - loss: 0.4855
Epoch 18/100
804/804  3s 4ms/step - accuracy: 0.7874 - loss: 0.4800
Epoch 19/100
804/804  4s 3ms/step - accuracy: 0.7824 - loss: 0.4893
Epoch 20/100
804/804  3s 3ms/step - accuracy: 0.7828 - loss: 0.4865
Epoch 21/100
804/804  3s 3ms/step - accuracy: 0.7829 - loss: 0.4866
Epoch 22/100
804/804  3s 4ms/step - accuracy: 0.7832 - loss: 0.4868
Epoch 23/100
804/804  2s 3ms/step - accuracy: 0.7808 - loss: 0.4878
Epoch 24/100
804/804  2s 3ms/step - accuracy: 0.7819 - loss: 0.4882
Epoch 25/100
804/804  3s 3ms/step - accuracy: 0.7850 - loss: 0.4821
Epoch 26/100
804/804  2s 3ms/step - accuracy: 0.7843 - loss: 0.4815
Epoch 27/100
804/804  3s 4ms/step - accuracy: 0.7828 - loss: 0.4840
Epoch 28/100
804/804  2s 3ms/step - accuracy: 0.7879 - loss: 0.4775
Epoch 29/100
804/804  2s 3ms/step - accuracy: 0.7902 - loss: 0.4753
Epoch 30/100
804/804  2s 2ms/step - accuracy: 0.7862 - loss: 0.4817
Epoch 31/100
804/804  2s 2ms/step - accuracy: 0.7836 - loss: 0.4815
Epoch 32/100
804/804  4s 4ms/step - accuracy: 0.7850 - loss: 0.4798
Epoch 33/100
804/804  2s 3ms/step - accuracy: 0.7857 - loss: 0.4817
Epoch 34/100
804/804  2s 3ms/step - accuracy: 0.7889 - loss: 0.4744
Epoch 35/100
804/804  2s 2ms/step - accuracy: 0.7816 - loss: 0.4823
Epoch 36/100
804/804  2s 2ms/step - accuracy: 0.7884 - loss: 0.4768
Epoch 37/100
804/804  2s 3ms/step - accuracy: 0.7896 - loss: 0.4731
Epoch 38/100
804/804  3s 3ms/step - accuracy: 0.7836 - loss: 0.4788
Epoch 39/100
804/804  2s 2ms/step - accuracy: 0.7801 - loss: 0.4852
Epoch 40/100
804/804  2s 3ms/step - accuracy: 0.7864 - loss: 0.4790
Epoch 41/100
804/804  2s 2ms/step - accuracy: 0.7872 - loss: 0.4779
Epoch 42/100
804/804  3s 3ms/step - accuracy: 0.7841 - loss: 0.4822
Epoch 43/100
804/804  3s 4ms/step - accuracy: 0.7819 - loss: 0.4811
Epoch 44/100
804/804  2s 2ms/step - accuracy: 0.7849 - loss: 0.4787
Epoch 45/100
804/804  3s 2ms/step - accuracy: 0.7867 - loss: 0.4787
Epoch 46/100
804/804  2s 2ms/step - accuracy: 0.7871 - loss: 0.4770
Epoch 47/100
804/804  3s 2ms/step - accuracy: 0.7841 - loss: 0.4780
Epoch 48/100
804/804  6s 7ms/step - accuracy: 0.7835 - loss: 0.4758
Epoch 49/100
804/804  5s 6ms/step - accuracy: 0.7818 - loss: 0.4814
Epoch 50/100
804/804  3s 3ms/step - accuracy: 0.7871 - loss: 0.4770
Epoch 51/100
804/804  3s 4ms/step - accuracy: 0.7866 - loss: 0.4781
Epoch 52/100
804/804  2s 2ms/step - accuracy: 0.7874 - loss: 0.4756
Epoch 53/100
804/804  2s 2ms/step - accuracy: 0.7820 - loss: 0.4813
Epoch 54/100
804/804  3s 2ms/step - accuracy: 0.7829 - loss: 0.4814
Epoch 55/100
804/804  2s 2ms/step - accuracy: 0.7825 - loss: 0.4802
Epoch 56/100
804/804  3s 4ms/step - accuracy: 0.7862 - loss: 0.4781
Epoch 57/100
804/804  4s 2ms/step - accuracy: 0.7869 - loss: 0.4750
Epoch 58/100
804/804  2s 2ms/step - accuracy: 0.7885 - loss: 0.4730
Epoch 59/100
804/804  2s 2ms/step - accuracy: 0.7824 - loss: 0.4826
Epoch 60/100
804/804  3s 3ms/step - accuracy: 0.7848 - loss: 0.4777
Epoch 61/100
804/804  4s 2ms/step - accuracy: 0.7864 - loss: 0.4786
Epoch 62/100
804/804  2s 2ms/step - accuracy: 0.7860 - loss: 0.4756
Epoch 63/100
804/804  2s 2ms/step - accuracy: 0.7843 - loss: 0.4784
Epoch 64/100
804/804  2s 2ms/step - accuracy: 0.7870 - loss: 0.4798
Epoch 65/100
804/804  3s 3ms/step - accuracy: 0.7794 - loss: 0.4847
Epoch 66/100
804/804  2s 3ms/step - accuracy: 0.7861 - loss: 0.4758
Epoch 67/100
804/804  3s 3ms/step - accuracy: 0.7834 - loss: 0.4797
Epoch 68/100
804/804  2s 3ms/step - accuracy: 0.7847 - loss: 0.4783
Epoch 69/100
804/804  3s 3ms/step - accuracy: 0.7837 - loss: 0.4780
Epoch 70/100
804/804  3s 4ms/step - accuracy: 0.7877 - loss: 0.4724
Epoch 71/100
804/804  2s 3ms/step - accuracy: 0.7889 - loss: 0.4721
Epoch 72/100
804/804  3s 3ms/step - accuracy: 0.7875 - loss: 0.4736
Epoch 73/100
804/804  2s 3ms/step - accuracy: 0.7876 - loss: 0.4747
Epoch 74/100
804/804  3s 3ms/step - accuracy: 0.7871 - loss: 0.4760
Epoch 75/100
804/804  3s 4ms/step - accuracy: 0.7819 - loss: 0.4814
Epoch 76/100
804/804  2s 3ms/step - accuracy: 0.7856 - loss: 0.4787
Epoch 77/100
804/804  3s 3ms/step - accuracy: 0.7889 - loss: 0.4741
Epoch 78/100
804/804  2s 3ms/step - accuracy: 0.7882 - loss: 0.4723
Epoch 79/100
804/804  2s 3ms/step - accuracy: 0.7837 - loss: 0.4789
Epoch 80/100
804/804  3s 3ms/step - accuracy: 0.7922 - loss: 0.4689
Epoch 81/100
804/804  4s 3ms/step - accuracy: 0.7860 - loss: 0.4769
Epoch 82/100
804/804  3s 3ms/step - accuracy: 0.7839 - loss: 0.4791
Epoch 83/100
804/804  3s 3ms/step - accuracy: 0.7904 - loss: 0.4728
Epoch 84/100
804/804  3s 3ms/step - accuracy: 0.7872 - loss: 0.4758
Epoch 85/100
804/804  4s 3ms/step - accuracy: 0.7896 - loss: 0.4745
Epoch 86/100
804/804  3s 3ms/step - accuracy: 0.7818 - loss: 0.4808
Epoch 87/100
804/804  3s 3ms/step - accuracy: 0.7878 - loss: 0.4747
Epoch 88/100
804/804  3s 4ms/step - accuracy: 0.7891 - loss: 0.4734
Epoch 89/100
804/804  2s 3ms/step - accuracy: 0.7905 - loss: 0.4731
Epoch 90/100
804/804  2s 3ms/step - accuracy: 0.7877 - loss: 0.4735
Epoch 91/100
804/804  2s 3ms/step - accuracy: 0.7864 - loss: 0.4736
Epoch 92/100
804/804  2s 3ms/step - accuracy: 0.7830 - loss: 0.4771
Epoch 93/100
804/804  2s 3ms/step - accuracy: 0.7835 - loss: 0.4768
Epoch 94/100
804/804  3s 4ms/step - accuracy: 0.7856 - loss: 0.4770
Epoch 95/100
804/804  2s 3ms/step - accuracy: 0.7881 - loss: 0.4719
Epoch 96/100
804/804  3s 2ms/step - accuracy: 0.7818 - loss: 0.4767
Epoch 97/100
804/804  3s 3ms/step - accuracy: 0.7838 - loss: 0.4786
Epoch 98/100
804/804  2s 3ms/step - accuracy: 0.7869 - loss: 0.4725
Epoch 99/100
804/804  3s 4ms/step - accuracy: 0.7876 - loss: 0.4730
Epoch 100/100
804/804  4s 3ms/step - accuracy: 0.7815 - loss: 0.4804

In [40]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - 4ms/step - accuracy: 0.7745 - loss: 0.4954
Loss: 0.4954119920730591, Accuracy: 0.7744606137275696

In [41]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.